#titlediv p {
    position: absolute;
    top: 27px;
    font-weight: bold;
    color: #e14d43;
}
body.post-type-talents #postbox-container-2{
    position: relative;
}
body.post-type-talents #post-body-content::after,
body.post-type-talents #normal-sortables::after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.1);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}
.update-nag{
    display: none;
}
/* body.taxonomy-gallery_category.edit-tags-php .row-actions, */
body.taxonomy-gallery_category.term-php #delete-link{
    display: none;
}
body.taxonomy-gallery_category.term-php .form-field.term-slug-wrap{
    position: relative;
}
/* body.taxonomy-gallery_category.term-php .form-field.term-slug-wrap::after{
    content: "";
    width: 100%;
    height: 15%;
    background: rgba(0,0,0,0.1);
    position: absolute;
    right: 0;
    left: 0;
    top: 15%;
    z-index: 9999;
} */
