.hi-slide .hi-prev::before{content:'>'}
.hi-slide .hi-next::before{content:'<'} 
.hero_section .slick-next {
  right: auto;
  left: 0px !important;
}
.hero_section .slick-prev{
  right: 0px !important;
  left: auto;
} 
.site-header-main {
  direction: ltr;
}
.footer_pages h2, .footer_pages p, .footer_pages h4, .text-cont{
  direction: rtl;
  text-align: right;
}
.brand_icon{
  direction: ltr;
}
body{
  text-align: right;
}
.moreBtn{
  right: auto;
  left: 0;
}
.tablist{
  padding-right: 0;
}
.tablist span{
  left: 65px;
  right: auto;
}
.rightArrow.slick-arrow{
  left: 75px;
  right: auto;
}
.leftArrow.slick-arrow {
  left: 110px;
  right: auto;
}
.slickSlider .slick-arrow svg{
  transform: rotateY(180deg);
}
.tablist .nav-item{
  margin-left: 15px;
  margin-right: 0;
}

.slickSlider .slick-track{ 
  margin-right: 0;
  margin-left: auto;
}
.side-menu li svg{
  right: auto;
  left: 10px;
  transform: rotate(180deg);
}
.search-field{
  right: auto;
  left: 110px;
}
.logout, .welcome{
  right: 95px;
  left: auto;
}
.topHeader .menu-toggle.toggled-on + .side-header-menu{
  right: 0!important;
  left: auto!important;
}
.side-header-menu{
  left: auto;
  right: -700px;
}
@media only screen and (max-width: 600px) {
  .logout, .welcome{
    right: 30px;
  }
  .search-field{
    left:25px;
  }
}