.hero_section .slideUnit {
  height: 159px;
  width: 245px;
  transition: all 500ms ease-in-out;
}
.hero_section .slideUnit img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.hero_section .slick-active{
  width: 350px!important;
  height: 226px;
  transition: all 500ms ease-in-out;
}
.hero_section .slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero_section .slick-current.slick-active {
  width: 500px!important;
  height: 323px;
  transition: all 500ms ease-in-out;
}
.hero_section .homeSlider .slick-track{
  height: 320px;
}
@media only screen and (max-width: 660px) {
.hero_section .slick-current.slick-active {
    width: 440px!important;
    height: 255px!important;
  }
}


.hero_section .slick-prev {
  left: 25px;
  top: 50%!important;
  z-index: 99;
}
.hero_section .slick-next{
  right:0;
  top:180px;
} 
@media only screen and (max-width: 660px) {
  .hero_section .hi-slide>ul {
    position: absolute !important;
    left: -525px;
  }
}


.hero_section .hi-slide>ul>li{
border: none !important;
border-radius: 20px !important;
}
.hero_section{
background-color: #131313;
padding-bottom: 35px !important;
}
.content-wrap{
width: 1500px;
margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .content-wrap{
    width: unset;
    margin: 0 auto;
    }
}

  
#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
/* .primary-menu button.owl-prev{
  position: absolute;
  top: -11px;
  left: 0;
  font-size: 30px !important;
} */
/* .primary-menu button span{
  font-size: 35px;
} */
/* .primary-menu button.owl-next{
  position: absolute;
    top: -11px;
    right: 0;
    font-size: 30px !important;
} */

.search_form{
  margin-right: 8px;
  margin-left: auto;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.logo{
position: absolute;
left: 50%;
transform: translateX(-50%);
}
.screen-reader-text{
  display: none !important;
}
.search-submit{
  display: none !important;
}
.search-field{
  width: 18%;
  position: absolute;
  top: 20px;
  right: 90px;
  box-sizing: border-box;
  border: 2px solid #ccc; 
  font-size: 15px;
  background-color: black;
  border-radius: 25px;
  color: #fff;
  padding: 0px 10px 0px 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.search-field:focus{
  width: 25%;
}
@media only screen and (max-width: 600px) {
  .search-field{
    /* width:125px; */
    width: 35%;
    top: 60px;
    right: 20px;
  }
  .search-field:focus{
    width: 50%;
  }
}
.site-info ul{
margin-top: 0;
margin-bottom: 1rem;
padding: 0;
margin: 10px 0 0 0;
list-style: none;
display: inline-block;
vertical-align: top;
}
.site-info>ul>li{
  display: inline;
  padding:0px 10px 0px 10px;
  border-right: 1px solid #666;
}
.site-info>ul>li>a{
color:#fff;
font-size: 11px;
opacity: .8;
}
.site-info a:hover{
  text-decoration: underline !important;
}
.copy_rights>p{
  color:#999;
  font-size: 11px;
  opacity: .8; 
}
.copy_rights span{
  color:#fff;
  font-size: 11px;
  opacity: 1; 
}
.brand_icon img{
  width: 45px;
}
.sub-menu{
  display: none;
} 
.side-menu, .sub-menu{
  list-style: none;
}

.primary-menu .owl-stage .owl-item{
  /* width: auto !important; */
}
.owl-carousel .owl-stage{
  /* width: 100% !important; */
}
.site-footer .site-info {
  padding-top: 20px;
}


/*footer pages */
.footer_pages{
  margin-top: 30px;
}
.footer_pages .page_title{
  margin-bottom: 15px;
  border-bottom: 1px solid #666;
  text-transform: capitalize;
}
.footer_pages .page_content{
  font-weight: 300;
  color: #f6f6f6;
  font-size: 15px;
}
.modal{
  background-color: rgba(0, 0, 0, 0.3)
}
.modal-content{
  max-width: 600px;
  margin: 0 auto;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 350px;
  padding: 20px;
  border-radius: 20px;
}
.modal-content p{
  color: #5b5b5b;
  font-weight: 400;
  direction: rtl;
  font-size: 18px;
}
.modal-content .text-success{
  font-size: 25px;
  top: -70px;
}
.modal-content img{
  width: 60%;
  margin: 0 auto;
}
.modal-content .close{
  cursor: pointer;
}
.modal-footer{
  border-top: none !important;
}
.login{
  font-size: 20px;
  background: transparent;
  border-radius: 30px;
  font-weight: 600;
  line-height: 18px;
  padding: 7px 25px;
  margin-right: 10px;
  color: #333;
  border:1px solid #adadad;
}
.login:hover{
color: #333;
border:1px solid grey;
}
.subscribtion, .subscribe_btn{
  color:#fff;
  font-size: 20px;
  background: #ff7900;
  padding: 7px 25px;
  border-radius: 30px;
  line-height: 18px;
  border-color: #ff7900;
  outline: none;
  font-weight: 600;
}
.subscribtion:hover, .subscribe_btn:hover{
  color:#fff;
}
.pop_up .hoverItem  {
  display: none !important;
}
.contentData.pop_up{
  cursor: pointer;
}
.subscribe{
  margin-top: 10%;
}
.subscribe button{
  background-color: #f16e00 !important;
  border-color: #f16e00 !important;
  width: 100px;
}
.subscribe button:hover{
background-color: #fff !important;
color: #f16e00 !important;
border-color: #f16e00 !important;
}
.subscribe input{
  background: transparent;
  color: #fff;
  border-color: #424040;
}
.page_title small{
  font-weight: 300;
  color: #f6f6f6;
  font-size: 19px;
  margin-left: 5px;
}
#forget_password {
  color: #f16e00 !important;
}
.modal-footer{
  margin-top: -20px;
}
.openModal::after {
  content: "";
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal-content .msg_validation{
  margin-bottom: 30%;
}
.logout, .welcome{
  color: #f16e00;
  position: absolute;
  top: 18px;
  left: 95px;
  font-size: 18px; 
  transition: all .3s linear;
}
.logout:hover{
  text-decoration: underline !important;
  color: #fff;
  transition: all .3s linear;
}
/* .welcome:hover{
  color: #f16e00;
} */
@media only screen and (max-width: 600px) {
  .logout, .welcome{
    top: 60px;
    left: 25px;
  }
  .search_form{
    position: static;
  }
}
.modal-content .alert_msg{
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
}
