@font-face {
    font-family: 'Source Sans Pro';
    src: url('../twentysixteen/fonts/SourceSansPro-Regular.eot');
    src: url('../twentysixteen/fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../twentysixteen/fonts/SourceSansPro-Regular.woff2') format('woff2'),
        url('../twentysixteen/fonts/SourceSansPro-Regular.woff') format('woff'),
        url('../twentysixteen/fonts/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body, html {
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: Source Sans Pro,sans-serif;
    background: #000;
	color: #fff;
	line-height: 1.5;
}
.topHeader{
	width: 100%; 
	background: #000;
	padding: 10px 30px;
    z-index: 999;
}
.lang-item{
	z-index: 9;
    list-style: none;
    padding: 0px 2px;
	opacity: 0;
	line-height: normal;
} 
.langSwitcher:before {
    content: '';
    background: url(../twentysixteen/img/langSwitcher.png);
    background-repeat: no-repeat;
    background-size: auto 20px;
	width: 50px;
	height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
body.rtl header .langSwitcher:before{
	background: url(../twentysixteen/img/langSwitcherEN.png);
	background-repeat: no-repeat;
    background-size: auto 20px;
}
.objectCover{
	object-fit: cover;
}
.objectContain{
	object-fit: contain;
}
.logo{
	width: 145px;
}
@media only screen and (max-width: 290px) {
.logo{
    width: 95px;
}  
}
.menu-toggle{
	font-size: 30px;
    color: silver;
    cursor: pointer;
    transition: all .3s linear;
}
.primary-menu{
	list-style: none;
    padding: 0;
	margin: 0; 
	/* display: flex!important;
	justify-content: center; */
}
.primary-menu.owl-theme .owl-nav{
    margin: 0;
}
.primary-menu button{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px;
    margin: auto 0!important;
}
.primary-menu button span{
    font-size: 32px;
    line-height: 1;
    margin-bottom: 5px;
    display: block;
}
.primary-menu.owl-theme .owl-nav .disabled:hover{
    background: none!important;
    transition: all .3s linear;
}
.primary-menu button.owl-prev{
    left: 0;
}
.primary-menu button.owl-next{
    right: 0;
}
.primary-menu li{
	padding: 0 5px;
    margin: 0 5px;
}
.primary-menu li a{
	text-decoration: none;
	/* text-overflow: ellipsis; */
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: .3px;
	font-size: 20px;
    padding: 1px 22px;
	color: #fff; 
    border-bottom: 3px solid transparent;
    display: block;
    text-align: center;
}
.primary-header-menu{
	background: #f16e00;
    padding: 2px 20px;
    z-index: 10;
    border-left: 0;
    border-right: 0;
    /* height: 38px; */
    /* overflow: hidden; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}
.site-header{
	-webkit-box-shadow: 5px 5px 15px #000;
    box-shadow: 5px 5px 15px #000;
}
.primary-menu li.current_page_item a, 
.primary-menu li a:hover {
    color: #fff;
    border-bottom: 3px solid #fff;
    transition: all .3s linear;
}
.side-header-menu{
	width: 270px;
    background: #000;
    padding: 15px;
    border: 1px solid #231911;
    position: fixed;
    z-index: 1030;
    top: 0;
	bottom: 0;
	left: -700px;
    overflow-y: auto;
    border-radius: 0; 
    transition: all .4s linear;
}
.menu-toggle.toggled-on,
.menu-toggle:hover{
    color: #f16e00;
    transition: all .2s linear;
}
.topHeader .menu-toggle.toggled-on + .side-header-menu{
	left: 0!important;
}
.menu-close{
    font-size: 21px;
    cursor: pointer;
    color: silver;
    width: 30px;
    text-align: center;
    transition: all .3s linear;
}
.menu-close:hover{
    background: #3e3c3c;
    /* background: #131313; */
    color: #fff;
    transition: all .3s linear;
}
.side-menu-title{
    font-size: 22px;
}
body{
	padding-top: 104px;
    background: url(../twentysixteen/img/footerBg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 100%;
}
a, a:focus, a:active, *, ::after, ::before{
    text-decoration: none!important;
    outline: none!important;
}
.site-content{
	min-height: 68vh;
}
.mainTitle h2{
    margin: 0;
    font-size: 19px;
    color: #fff;
}
.mainTitle{
    border-bottom: 1px solid hsla(0,0%,100%,.2);
    margin-bottom: 15px;
    padding-bottom: 5px;
} 
.grayBG{
    background-color: #131313;
}
.tablist{
    margin-bottom: 15px;
    position: relative;
}
.tablist .nav-link{
    padding: 0 10px 5px;
    text-decoration: none!important;
    color: #fff;
}
.tablist .nav-link h2{ 
    font-size: 14px;
    margin-bottom: 2px;
}
.tablist .nav-link.active{
    background: transparent;
    border: none;
    border-bottom: 4px solid #f16e00;
}
.tablist .nav-item {
    margin-right: 15px;
}
.media_tax_data{
     position: relative;
     float: left;
   
 } 
.contentData{
    /* width: 200px!important; */
    margin: 0 10px;
    position: relative;
    float: left;
} 
.contentData:nth-child(1){
    /* margin-left: 0!important;  */
}
.contentData:nth-child(5){
    /* margin-right: 0!important; */
}
.media_tax_data img, .contentData img{
    border-radius: 7px;
    overflow: hidden;
    -webkit-border-radius: 7px;
    position: relative; 
}
.media_tax_data .hoverItem, .contentData .hoverItem {
    position: absolute;
    top: 0;
    left: 0; 
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0,0,0,.7);
    border-radius: 7px;
    display: none;
    transition: all .3s linear;
}
.hoverBtn a {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 2px solid #fff;
    display: inline-block;
    color: #fff;
    margin: 0 5px;
    font-size: 19px;
    padding: 4px 0 0 0!important;
    transition: all .3s linear;
}
.media_tax_data .imageHover:hover .hoverItem, .contentData .imageHover:hover .hoverItem{
    display: block;
    transition: all .3s linear;
}
.hoverBtn a.active, 
.hoverBtn a:hover {
    color: #f16d01;
    border-color: #fff;
    background: #fff;
    transition: all .3s linear;
}
.itemDetails{
    /* padding-right: 44px; */
    position: relative;
    padding-top: 30px;
}
.itemDetails a{
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    position: absolute;
    width: 100%;
    top: 8px;
    left: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
    transition: all .3s linear;
} 
.itemDetails p{
    font-size: 13px;
    color: #f6f6f6;
    margin-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 20px;
}
.itemDetails  a:hover {
    color: #ff7900;
    transition: all .3s linear;
}
.slick-arrow.slick-disabled svg{
    opacity: .3;
}
.slick-arrow:hover{
    background: hsla(0,0%,100%,.2);
    transition: all .3s linear;
}
.slick-arrow.slick-disabled:hover{
    background: none;
    cursor: default;
    transition: all .3s linear;
}
.slick-arrow{
    position: absolute;
    top: -45px; 
    left: auto;
    width: 25px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}
.leftArrow.slick-arrow{
    right: 110px;
}
.rightArrow.slick-arrow{
    right: 75px;
}
.moreBtn{
    position: absolute;
    display: inline-block;
    background: #f16e00;
    font-size: 11px;
    padding: 1px 11px;
    border-radius: 20px;
    color: #fff;
    line-height: 18px;
    border-color: #f16e00;
    border: 1px solid transparent;
    right: 0;
    top: -42px;
    transition: all .3s linear;
}
.tab-content{
    position: relative;
}
.tablist span{
    background: #595959;
    position: absolute;
    right: 65px;
    height: 100%;
    top: -2px;
    width: 1px;
}
.tab-content .tab-pane.slick-initialized.slick-slider, 
.panel .tab-content .tab-pane{
    display: block;
    height: 0;
    overflow: hidden;
    position: relative;
    z-index: -1;
}
.tab-content .tab-pane.slick-initialized.slick-slider.active, 
.panel .tab-content .tab-pane.active{
    height: auto;
    overflow: visible;
    z-index: 99;
}
.singleContent{
    padding: 65px 0;
}
.singleTitle h4{
    font-size: 23px;
    color: #fff; 
    padding-bottom: 16px;
    padding-top: 10px;
    word-wrap: break-word;
}
.singleTitle p{
    font-size: 15px;
    color: #f6f6f6; 
    word-wrap: break-word;
}
.actionsBtn{
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.actionsBtn span{
    color: #fff;
    padding: 0;
    cursor: pointer;
}
.actionsBtn span svg{
    font-size: 40px;
}
a.ss-button-facebook{    
    margin: 0 60px!important;
}
a.ss-button-twitter{
    margin: 0!important;
}
.singleMedia {
    height: 360px;
    border-radius: 5px;
}
.singleMedia img {
    border-radius: 5px;
}
.playVideo{
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: #f16e00;
    transition: all .3s linear;
}
.playVideo:hover{
    background: rgba(0, 0, 0, 0.4);
    transition: all .3s linear;
    color: #fff;
}
.singleMedia audio{
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
    background: #f1f3f4;
}
.comment-form-comment{
    display: flex;
    flex-direction: column;
}
.comments-title{
    background: transparent;
    border: unset;
    font-size: 23px;
    color: #fff;
    margin-top: 30px;
    cursor: pointer;
}
.comment-respond{
    border-top: 1px solid #666;
    padding: 38px 0 0 0;
}
.comment-reply-title{
    font-size: 19px;
    color: #fff;
    font-weight: 400;
}
.comment-form-comment label{
    font-size: 17px;
    color: #7f7f7f;
    font-weight: 400;
    padding: 10px 0 0 0;
}
.comment-form-comment textarea{
    background-color: #131313;
    border: unset;
    border-radius: 5px; 
    color: #fff;
    font-size: 13px;
    padding: 5px 20px;
    height: 200px;
}
#commentform .form-submit input[type=submit]{
    background-color: #d9534f;
    border-color: #d43f3a;
    border-radius: 30px;
    line-height: 18px;
    color: #fff;
    font-size: 17px;
    padding: 14px 30px;
    border: 1px solid transparent;
}
.disabledBtn{
    pointer-events: none;
    cursor: not-allowed!important;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
li .comment-body{
    border-bottom: 1px dashed #2f3054;
    margin-bottom: 20px;
    padding-left: 15px; 
} 
.parent .comment-body{
    border-bottom: unset;
}
.comment-list .children{    
    border-bottom: 1px dashed #2f3054;
    margin-bottom: 20px;
    background: rgba(51, 51, 51, 0.35);
    padding: 10px 35px 0;
}
li:last-child .comment-body {
    border-bottom: unset;
    margin-bottom: 0;
}
.comment-author b{
    font-size: 17px;
    color: #ababab;
    font-weight: 600;
}
.comment-metadata a{
    font-size: 13px;
    color: #7f7f7f;
    font-weight: 400;
}
.comment-content{
    font-size: 19px;
    color: #7f7f7f;
    font-weight: 300;
    padding: 20px 0;
}
.comment-content p{
    margin: 0;
}
.reply a{
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    font-style: italic;
    display: inline-block;
    cursor: pointer;
    padding-bottom: 15px;
} 
h1.page-title {
    margin: 0;
    font-size: 19px;
    color: #fff;
}
.social-sharing{
    width: auto!important;
    display: flex;
}
.site-info>ul>li:last-of-type{
    border-right: none;
}
.actionsBtn span.liked,
a.liked{
    color: #f16e00;
    /* pointer-events: none; */
} 
a.liked{
    background-color: #fff;
}
.userList .contentData{
    width: 200px;
    margin: 10px;
}
/* .side-menu .menu-item-has-children:after{
    content: "";

} */
.side-menu li{
    color: #eee;
    padding: 8px 10px;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 3px 0px;
}
.side-menu li svg{
    position: absolute;
    right: 10px;
    top: 15px;
    transition: all .3s linear;
}
.side-menu li.active svg{
    transform: rotate(90deg);
    transition: all .3s linear;
}
.side-menu li .sub-menu{
    /* padding-left: 15px; */
}
.side-menu li .sub-menu li{
    font-size: 13px;
    margin-bottom: 0;
    transition: all .3s linear;
}
.side-menu li:hover,
.side-menu li.active{
    background: #131313;
    transition: all .3s linear;
}
.side-menu {
    margin: 0;
    padding: 0; 
}
.side-menu li a{
    color: #eee;
}
.menu-item.active .sub-menu {
    display: block;
    margin-top: 10px;
    background: #00000063;
    border-radius: 5px;
    padding: 1px 5px;
    padding-bottom: 5px;
}
.slickSlider .slick-track{ 
    margin-left: 0;
}
#masthead{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999; 
    transition: all .3s; 
    height: 104px;
}
.nav-up {
    top: -104px!important;
    transition: all .3s;
}
.openModal::after{
    cursor: pointer;
}
.modal-header{
    padding: 0 0 10px 0!important;
}
body.page-id-486 .site-content {
    min-height: 49vh;
}